.top {
    height:3.5%;
    width:100%;
    background-color: black;
    margin: 0%;
    margin-bottom: 0.5%;
}
.top  h2 a {
    color: white;
}
.top h2 {
    margin-top: 0%;
}
.sides {
    width: 24%;
    overflow-y: scroll;
}
.middle {
    width: 48%;
    overflow-y: scroll;
}
.buyables-container, .upgrades-container{
    height: auto;
    border: 2px dotted red;
    display: inline-block;
}
.separator {
    width: 1%;
    background: blueviolet;
}
div {
    height: 95%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
ol {
    border: 2px dashed orangered;
}